@use '../../base';

.center_game_over {
    text-align: center;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.margin_top {
    margin-top: 30px;
}
