@use '../../base';

.center {
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    width: 250px;
}

.top {
    margin-top: 20px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.movie {
    width: 100px;
}